<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>Exploratory Data Analysis</title>
<body>
<h1>Data Analysis</h1>
<p>A set of web services to perform elementary data analysis. Inspired by "Interactive Data Analysis" by Donald R. McNeil.</p>
<h1>Services</h1>
<table summary="list of offered services" >
<thead><th>Service</th><th>Description</th><th>Input (request body)</th><th>Input format</th><th>Output (response body)</th><th>Output format</th></thead>
<tr><td>condense</td><td>Provides the count, sum, median, minimum, maximum, and midspread</td><td>A simple list of values</td><td>JSON</td><td>The calculated values</td><td>JSON</td></tr>
<tr><td>stem</td><td>Organizes data for a stem-and-leaf plot</td><td>A simple list of values</td><td>JSON</td><td>The values organized into branches</td><td>JSON</td></tr>
<tr><td>stemgraph</td><td>Produces stem-and-leaf plot</td><td>The values organized into branches</td><td>JSON</td><td>Stem-and-graph plot</td><td>text</td></tr>
</table>
</body>
</html>
